@import "style.css";
.tomjn-button-style {
  padding: 0.25em 0.5em;
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
}
.tomjn_editor_container {
  border: 2px solid #e0e0e0;
  border-radius: 6px;
}
.tomjn-button-style-hover {
  background: #fafafa;
  /* Old browsers */
  border-color: #bbb #bbb #aaa #bbb;
}
.tomjn-anchor-style {
  text-decoration: none;
  background: #fffafa;
  box-shadow: inset 0 -1px 0 0 #990000;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
}
.tomjn-anchor-style:hover,
.tomjn-anchor-style:active {
  color: #ff0000;
  box-shadow: inset 0 -3px 0 0 #ff0000;
}
/*@backgroundcolour: #ffffff;
@headerBGcolour: #ffffff;


@hyperlink_active_colour: #ff0000;
@block_background_colour: #FAFAFA;

@desaturated_background: desaturate( @backgroundcolour,40%);
@darkened: darken(@desaturated_background, 2%);
@lightened: lighten(@desaturated_background,2%);
@block_background_colour: contrast( @backgroundcolour, @darkened, @lightened );*/
/* =Reset
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
  background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}
a img {
  border: 0;
}
/* =Global
----------------------------------------------- */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
/* Text elements */
p {
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0 0 1.5em 2em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
b,
strong {
  font-weight: bold;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}
code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}
button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  *overflow: visible;
  /* Corrects inner spacing displayed oddly in IE6/7 */
}
/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
/* Text meant only for screen readers */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
/* =Content
----------------------------------------------- */
.hentry {
  margin: 0 0 1.5em;
}
.entry-meta {
  clear: both;
}
.byline {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}
.block_text {
  max-width: 600px;
  background: #fafafa;
  border-left: 4px solid #DDD;
  padding: 1.5em;
  margin-bottom: 1em;
}
::selection {
  color: #fff;
  background: red;
}
::-moz-selection {
  color: #fff;
  background: red;
}
.entry-title {
  font-size: 48px;
}
.entry-content p,
#social .social-comment-body p,
.comment-content p,
.entry-content ul li,
#social .social-comment-body ul li,
.comment-content ul li {
  max-width: 800px;
}
.entry-content img,
#social .social-comment-body img,
.comment-content img {
  margin: 1.5em;
}
.entry-content img:first-child,
#social .social-comment-body img:first-child,
.comment-content img:first-child {
  margin-top: 0;
}
.entry-content img.wp-smiley,
#social .social-comment-body img.wp-smiley,
.comment-content img.wp-smiley {
  margin: 0;
}
.entry-content .wp-caption img,
#social .social-comment-body .wp-caption img,
.comment-content .wp-caption img {
  margin: 1.2% auto 0;
}
p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
#subscribe-text > p {
  margin-bottom: 1em;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
}
.archive .entry-summary {
  margin: 0.3em 0;
}
@media only screen and (max-width: 500px) {
  .entry-title {
    font-size: 36px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
    text-transform: uppercase;
  }
}
.taxonomy-list .taxonomy-listing .entry-title:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.6em;
  margin-top: 0.4em;
  font-weight: 600;
}
.project_listing_item h2 {
  margin-bottom: 0.2em;
}
#social,
article {
  font-size: 14px;
}
blockquote,
#social blockquote {
  max-width: 600px;
  background: #fafafa;
  border-left: 4px solid #DDD;
  padding: 1.5em;
  margin-bottom: 1em;
}
blockquote footer,
#social blockquote footer {
  text-align: right;
  font-size: 80%;
  font-style: italic;
  color: #666;
}
.wp-caption {
  border: none;
  margin-bottom: 1em;
}
.wp-caption .wp-caption-text {
  padding-left: 1.2%;
  margin: 0.5em 0;
  text-align: left;
}
#main .entry-content li,
#main .spot li,
#main .widget_text li {
  margin-bottom: 0.5em;
}
#main .entry-content li pre,
#main .spot li pre,
#main .widget_text li pre {
  margin-top: 2em;
  margin-bottom: 2em;
}
.gist {
  font-size: 0.8em;
}
.gist .gist-file .gist-data .line-pre {
  max-width: none;
}
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 90%;
  /* the font looks a bit weirdly big compared to quaddro sans */
  background: #fffafa;
  border: 1px solid #fff0f0;
  color: #500;
}
pre > code,
pre > kbd,
pre > tt,
pre > var {
  color: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
}
#social .social-comment-body {
  font-size: inherit;
  line-height: inherit;
}
pre {
  max-width: 600px;
  background: #fafafa;
  border-left: 4px solid #DDD;
  padding: 1.5em;
  margin-bottom: 1em;
  max-width: 100%;
}
#masthead .main-small-navigation .menu ul {
  list-style: none;
}
.pullquote {
  float: right;
  max-width: 400px;
  clear: right;
  font-size: 36px;
  line-height: 1.2em;
  background: none;
  border: none;
  padding: 0;
  text-align: right;
  margin-right: 0;
}
blockquote .attribute {
  font-size: 50%;
  line-height: 1.1em;
  color: #a0a0a0;
}
article div.sharedaddy h3.sd-title {
  display: none;
}
@media only screen and (max-width: 700px) {
  .pullquote {
    float: none;
    max-width: 100%;
    clear: both;
    font-size: 24px;
    line-height: 1.2em;
    background: none;
    border: none;
    padding: 0 1em;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 700px) {
  .pullquote {
    padding: 0 0.25em;
  }
}
body.wp-autoresize,
body {
  padding-top: 32px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  max-width: 920px !important;
}
p {
  max-width: 640px;
}
img {
  margin: 1.5em;
}
.wp-caption img {
  margin: 1.2% auto 0;
}
/* Main column width */
.wp-block {
  max-width: 1024px;
}
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 1080px;
}
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}
