
@backgroundcolour: #ffffff;
@headerBGcolour = #ffffff;

@hyperlink_active_colour = red;
@block_background_colour = #FAFAFA;

@desaturated_background = desaturate( @backgroundcolour,40%);
@darkened = darken(@desaturated_background, 2%);
@lightened = lighten(@desaturated_background,2%);
@block_background_colour = contrast( @backgroundcolour, @darkened, @lightened );

.clearfix() {
	zoom: 1;
	&:before { content: ''; display: block; }
	&:after { content: ''; display: table; clear: both; }
}

@import "animate.less";

@import "type.less";

@media only screen and (min-width: 660px){ 
	body, #social * {
		font-size:16px;
	}
	#social, article {
		font-size:20px;
	}
	.entry-title {
		font-size: 72px;
		margin-top:0;
	}
}

<<<<<<< HEAD
@media only screen and (min-width: 500px){
	.header-contents {
		.page-padding;
	}
=======
body {
	background: @backgroundcolour;
>>>>>>> more variable goodness
}

#image-navigation {
	.clearfix();
	margin-top:0.5em;
	margin-bottom:0.5em;
	.previous-image, .next-image {
		float: left;
		width: 50%;
	}
	.next-image {
		text-align: right;
	}
}

#main {
	.animated();
	.fadeInUp();
}
// 8, 10, 14 and 36
// 16, 20, 28, 72

.page-padding {
	padding:28px;
}

.admin-bar #masthead{
	top:28px;
}
.entry-content, #social .social-comment-body {
	.clearfix;
	p{
		max-width:640px;
	}
	img {
		margin:1.5em;
	}
	img.wp-smiley {
		margin:0;
	}
	.wp-caption {
		img {
			margin: 1.2% auto 0;
		}
	}
}

#masthead {
	
	background: @headerBGcolour;
	line-height:2.5em;
	width: 100%;
	@media all and (max-width: 500px){
		float: left;
		z-index:1;
		position: fixed;
		top: 0;
		border-bottom:1px solid #9acd32;
	}
	font-size:16px;
	

	.header-contents {
		padding-left:28px;
		padding-right:28px;
	}

	.site-description{
		display:none;
	}

	h1 {
		font-size:16px;
		margin-bottom:0;
		margin-top:0;
	}

	a {
		/*text-shadow: 1px 1px 1px #480;
		color:#fff;*/
		text-decoration:none;
	}

	hgroup,
	nav {
		margin-right:24px;
		float: left;
		width:auto;
		clear:none;
		.menu {
			a {
				padding-right: 1em;
			}
		}
		.animated();
		.fadeInDown();
	}
	.main-small-navigation {
		margin-right:0;
		width:100%;

		.menu-toggle {
			/*color:#fff;*/
			float:right;
			margin-top:-42px;
		}
		.menu {
			margin-left:0;
			list-style:none;

			ul {
				margin-left:0;
			}

			a {
				display:block;
				padding-left:32px;
			}
			.current_page_item a {
				background: darken(@headerBGcolour,20%);
			}
			a:active,a:hover {
				background: darken(@headerBGcolour, 40%);
			}
		}
	}

	.menu-top-menu-container,
	#menu-top-menu {
		float: left;
	}
}

#twin-columns,#secondary {
	.clearfix;
	aside {
		width:100%;
		float: left;
		.widget-title {
			margin-top:0;
		}
		ul {
			margin-left:0;
			list-style:none;
		}
	}
	.spot, .widget_text {
		ul {
			list-style: disc;
			margin-left:2em;
		}
	}
}
.widget_recent_entries a {
	display: block;
	border-bottom: 1px solid #EFEFEF;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
/*.single-post, .page, .single {*/
#secondary {
	aside {
		width: 311px;
		margin-right: 30px;
	}
}
/*}*/

.header-contents {
	.clearfix;
	.center_in_page;
}

.center_in_page {
	margin: 0px auto;
	max-width:1024px;
}

#main {
	.center_in_page;
	.page-padding;
	padding-top:20px;
}

/*@media all and (min-width: 500px){
	#main {
		padding-top:56px;
	}
}*/

footer {
	.page-padding;
	padding-top:2em;
	padding-bottom:2em;
	article &{
		padding-top:0;
		padding-bottom:0;
	}
}

.footer-container {
	.center_in_page;
}

#reply-title {
	text-transform:none;
}

.page article header {
	.clearfix;
	h1 {
		margin-top:0;
		margin-bottom: 0;
	}
	margin-bottom:1.5em;
	border-bottom:1px solid #dfdfdf;
}

@media only screen and (min-width: 660px){
	#twin-columns {
		.clearfix;
		#left-column {
			.clearfix;
			min-height: 1px;
			width: 48%;
			margin-right: 2%;
			float: left;
		}
		#right-column {
			.clearfix;
			min-height: 1px;
			width:48%;
			margin-left:2%;
			float:left;
		}
	}
}
.bordered {
	border: 1px solid #EFEFEF;
}

.commentlist {

	.avatar {
		float: left;
		margin-right: 10px;
	}

	.comment {
		margin-bottom:1em;
	}

	.comment-content {
		margin-left: 44px;
	}
	.reply {
		margin-top: -1.5em;
		margin-left: 50px;
	}

	footer {
		padding-left: 0;
		padding-right: 0;
		.commentmetadata {
			display: none;
		}
	}
	margin-left: 0;
	list-style: none;

}

.entry-content img.alignnone {
	margin-left: 0;
	margin-right: 0;
}

.gist {
	margin-top: 1em;
	margin-bottom: 1em;
	table {
		margin: 0;
	}
}

.entry-meta {
	a[rel="tag"], a[rel="category tag"] {
		background: whiteSmoke;
		padding: 0px 10px;
		border-radius: 3px;
		border: 1px solid #EAEAEA;
		margin-right: 0.5em;
	}
}

#social .social-children {
	margin-left: 1em;
}
