
.block_text {
	max-width: 600px;
	background: @block_background_colour;
	border-left: 4px solid #DDD;
	padding: 1.5em;
	margin-bottom:1em;
}

body {
	font-family: @typekitfontstack;
	font-size:14px;
}

.wf-active {
	body {
		font-family: @typekitfontstack;
	}
}
.wf-inactive {

}

::selection {
	color: #fff;
	background: red;
}
::-moz-selection {
	color: #fff;
	background: red;
}
.entry-title {
	font-size:48px;
}

a,a:visited {
	color:#555;
	text-decoration: none;
}

a:hover, a:active {
	color:red;
}

.mce-content-body, .entry-content, #social .social-comment-body, .comment-content {
	p, ul li {
		max-width:800px;
	}
	img {
		margin:1.5em;
	}
	img:first-child {
		margin-top: 0;
	}
	img.wp-smiley {
		margin:0;
	}
	.wp-caption {
		img {
			margin: 1.2% auto 0;
		}
	}
}
p {
	margin-bottom: 1em;
}

p:last-child {
	margin-bottom: 0;
}

p, #social .social-comment-body p, .entry-meta {
	a, a:visited {
		margin-bottom: -2px;
		/*display: inline-block;*/
		color: #555;
		border-bottom: 2px dashed #CCC;
	}

	//
	a:hover, a:active {
		text-decoration: none;
		color: @hyperlink_active_colour;
		border-color: @hyperlink_active_colour;
	}
}

h1 {
	font-size:36px;
}

h2 {
	font-size:32px;
}

h3 {
	font-size:28px;
}

h4 {
	font-size:20px;
	text-transform: uppercase;
}

.archive .entry-summary {
    margin: 0.3em 0;
}

@media only screen and ( max-width: 500px ) {
	.entry-title {
		font-size:36px;
	}
	h1 {
		font-size:32px;
	}

	h2 {
		font-size:27px;
	}

	h3 {
		font-size:20px;
	}

	h4 {
		font-size:16px;
		text-transform: uppercase;
	}
}

.taxonomy-list .taxonomy-listing .entry-title:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom:0.6em;
	margin-top:0.4em;
	font-weight:600;
}
.project_listing_item h2 {
	margin-bottom: 0.2em;
}
#social, article {
	font-size:14px;
}

blockquote, #social blockquote {
	.block_text;
	footer {
		text-align: right;
		font-size: 80%;
		font-style: italic;
		color: #666;
	}
}

.wp-caption {
	border: none;
	margin-bottom: 1em;
	.wp-caption-text {
		padding-left: 1.2%;
		margin: 0.5em 0;
		text-align: left;
	}
}


#main {
	.entry-content, .spot, .widget_text {
		li {
			margin-bottom:0.5em;
			pre {
				margin-top: 2em;
				margin-bottom: 2em;
			}
		}
	}
}
.gist {
	.gist-file .gist-data {
		.line-pre {
			max-width:none;
		}
	}
	font-size: 0.8em;
}
code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: inherit;
}
#social {
	.social-comment-body {
		font-size: inherit;
		line-height: inherit;
	}
}

pre {
	.block_text;
}

#masthead .main-small-navigation .menu ul {
	list-style: none;
}

.pullquote {
	float: right;
	max-width: 400px;
	clear: right;
	font-size: 36px;
	line-height: 1.2em;
	background: none;
	border: none;
	padding: 0;
	text-align: right;
	margin-right: 0;
}


blockquote .attribute {
	font-size:50%;
	line-height:1.1em;
	line-height: 1.1em;
	color: #a0a0a0;
}

div.sharedaddy h3.sd-title {
	display:none;
}
@media only screen and ( max-width: 700px ) {
	.pullquote {
		float: none;
		max-width: 100%;
		clear: both;
		font-size: 24px;
		line-height: 1.2em;
		background: none;
		border: none;
		padding: 0 1em;
		text-align: left;
		margin-left:0;
		margin-right: 0;
	}

}
@media only screen and ( max-width: 700px ) {
	.pullquote {
		padding: 0 0.25em;
	}
}
