.block_text {
	max-width: 600px;
	background: @block_background_colour;
	border-left: 4px solid #DDD;
	padding: 1.5em;
	margin-bottom:1em;
}

body {
	font-family: "quatro-slab", "Crete Round", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:14px;
}

.wf-active {
	body {
		font-family: "quatro-slab", "Crete Round", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
}

.wf-inactive {
}

.entry-title {
	font-size:48px;
}

a,a:visited {
	color:#777;
	text-decoration: none;
}

a:hover, a:active {
	color:red;
}
p {
	margin-bottom: 1.5em;
}
p, #social .social-comment-body p, .entry-meta {
	a, a:visited {
		margin-bottom: -2px;
		/*display: inline-block;*/
		color: #777;
		border-bottom: 2px dashed #CCC;
	}

	//
	a:hover, a:active {
		color: @hyperlink_active_colour;
		border-color: @hyperlink_active_colour;
	}
}

h1 {
	font-size:36px;
}
h2 {
	font-size:32px;
}

h3 {
	font-size:28px;
}

h4 {
	font-size:20px;
	text-transform: uppercase;
}


h1, h2, h3, h4, h5, h6 {
	margin-bottom:0.6em;
	margin-top:0.4em;
	font-weight:600;
}

#social, article {
	font-size:14px;
}

#social code, code {
	border-radius: 2px;
	border: 1px solid #E0E0E0;
	background: white;
	padding: 0.3em;
}

blockquote, #social blockquote {
	.block_text;
	footer {
		text-align: right;
		font-size: 80%;
		font-style: italic;
		color: #666;
	}
}

.wp-caption {
	border: none;
	margin-bottom: 1em;
	.wp-caption-text {
		padding-left: 1.2%;
		margin: 0.5em 0;
		text-align: left;
	}
}


#main {
	.entry-content, .spot, .widget_text {
		li {
			margin-bottom:0.5em;
			pre {
				margin-top: 2em;
				margin-bottom: 2em;
			}
		}
	}
}
.gist {
	.gist-file .gist-data {
		.line-pre {
			max-width:none;
		}
	}
	font-size: 0.8em;
}

#social {
	.social-comment-body {
		font-size: inherit;
		line-height: inherit;
	}
}

pre {
	.block_text;
}

#masthead .main-small-navigation .menu ul {
	list-style: none;
}
