
// Font weights
$light: 100;
$regular: 400;
$bold: 600;
$heavy: 900;

// Base Font
$base-font-family: "JetBrains Mono", monaco, monospace;
$base-font-family: "Merriweather", sans-serif, monospace;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 1.4;

$text-colour: #404040;

$desktop-font-size: 22px;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Hyperlinks
$hyperlink-inactive-colour:          $text-colour;
$hyperlink-active-colour:            #600;
$hyperlink-active-background-colour: #fee;
$hyperlink-underline-colour:         #f00;

// Radii
$radius: 4px;


$pale_highlight_colour:        #fffafa;
$pale_highlight_border_colour: #fff0f0;
$block-background-colour: #FAFAFA;

@import "../modules/all";