
// Font weights
$light: 100;
$regular: 400;
$bold: 700;
$heavy: 900;

// Base Font
$base-font-family: "JetBrains Mono", monaco, monospace;
$base-font-family: "Radio Canada", sans-serif, monospace;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 1.4;

$text-colour: #404040;

$desktop-font-size: 22px;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Hyperlinks
$hyperlink-underline-colour:         #1882e4;
$hyperlink-inactive-colour:          $text-colour;
$hyperlink-active-colour:            $hyperlink-underline-colour;
$hyperlink-active-background-colour: #ecf2f9;

$hyperlink-focus-colour: $text-colour;
$hyperlink-focus-background-colour: $hyperlink-underline-colour;

$hyperlink-border-width: 2px;

// Radii
$radius: 4px;


$pale_highlight_colour:        #fafaff;
$pale_highlight_border_colour: #f0f0ff;
$block-background-colour: #FAFAFA;

@import "../modules/all";