a {
	color: $hyperlink_inactive_colour;
	text-decoration: none;
	border-bottom: $hyperlink-border-width solid $hyperlink-underline-colour;

	&:hover,
	&:active {
		color: $hyperlink-active-colour;
		background: $hyperlink-active-background-colour;
		border-radius: 4px;
	}

	&:focus {
		color: $hyperlink-focus-colour;
		background: $hyperlink-focus-background-colour;
	}
}
