@import '../modules/type';

pre, code, kbd, tt, var {
	font-size: 15px;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	tab-size: 4;
}

pre {
	@include block_text();
	background: $pale_highlight_colour;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	max-width:100%;
	overflow: auto;
}

code, kbd, tt, var {
	font-size: 90%; /* the font looks a bit weirdly big compared to quaddro sans */
	background: $pale_highlight_colour;
	border: 1px solid $pale_highlight_border_colour;
	color: #500;
}

pre > code,
pre > kbd,
pre > tt,
pre > var {
	color: inherit;
	font-size:inherit;
	background: transparent;
	border:none;
}
