input,
input + label,
button,
textarea {
  font-family: $ui-font-family;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
	width: 1em !important;
  height: 1em;
	vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"],
input[type="checkbox"] + label,
input[type="radio"] + label {
    line-height: 1.5em;
    vertical-align: middle;
    margin-right: 0.5em;
}

input[type="text"],
input[type="search"],
textarea {
    border-color: #6c8093;
    border-radius: $radius;
    border-width: 2px;

    &:disabled {
        background: #eee;
        border-color: #ddd;
        cursor: not-allowed;
    }

    &:hover:not(:disabled),
    &:active:not(:disabled),
    &:focus:not(:disabled) {
        border-color: $hyperlink-active-colour;
    }
}

input[type="text"],
input[type="search"],
input[type="submit"],
button {
  background: transparent;

  &:hover:not(:disabled),
  &:active:not(:disabled),
  &:focus:not(:disabled) {
      color: $hyperlink-active-colour;
  }
}
