/* radio-canada-regular - latin */
@font-face {
  font-family: 'Radio Canada';
  font-style: normal;
  font-weight: 400;
  src: url('../radio-canada/radio-canada-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../radio-canada/radio-canada-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../radio-canada/radio-canada-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../radio-canada/radio-canada-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../radio-canada/radio-canada-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../radio-canada/radio-canada-v11-latin-regular.svg#RadioCanada') format('svg'); /* Legacy iOS */
}
/* radio-canada-700 - latin */
@font-face {
  font-family: 'Radio Canada';
  font-style: normal;
  font-weight: 700;
  src: url('../radio-canada/radio-canada-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../radio-canada/radio-canada-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../radio-canada/radio-canada-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../radio-canada/radio-canada-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../radio-canada/radio-canada-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../radio-canada/radio-canada-v11-latin-700.svg#RadioCanada') format('svg'); /* Legacy iOS */
}
