/* quatro-slab-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quatro Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../quatro-slab/QuatroSlab-Regular.woff'); /* IE9 Compat Modes */
  src: url('../quatro-slab/QuatroSlab-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../quatro-slab/QuatroSlab-Regular.woff') format('woff') /* Modern Browsers */
}

/* quatro-slab-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quatro Slab';
  font-style: italic;
  font-weight: 400;
  src: url('../quatro-slab/QuatroSlab-Italic.woff'); /* IE9 Compat Modes */
  src: url('../quatro-slab/QuatroSlab-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../quatro-slab/QuatroSlab-Italic.woff') format('woff') /* Modern Browsers */
}

/* quatro-slab-semibold - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quatro Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../quatro-slab/QuatroSlab-SemiBold.woff'); /* IE9 Compat Modes */
  src: url('../quatro-slab/QuatroSlab-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../quatro-slab/QuatroSlab-SemiBold.woff') format('woff') /* Modern Browsers */
}

/* quatro-slab-semibold-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quatro Slab';
  font-style: italic;
  font-weight: 700;
  src: url('../quatro-slab/QuatroSlab-SemiBoldItalic.woff'); /* IE9 Compat Modes */
  src: url('../quatro-slab/QuatroSlab-SemiBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../quatro-slab/QuatroSlab-SemiBoldItalic.woff') format('woff') /* Modern Browsers */
}
