@import 'typeface';
@import 'code';

@mixin base-text {
	font-family:  $base-font-family;
	font-weight:  $base-font-weight;
	font-size:    $base-font-size;
	font-display: swap;
	@media only screen and (min-width: 660px){
		font-size: $desktop-font-size;
	}
}

body, article {
	@include base-text();
}

p, ul li {
	max-width:800px;
}

@import 'anchors';

*:focus {
	border: 2px solid red;
}

a:focus {
	background: $hyperlink-focus-background-colour;
	border-radius: $radius;
	border: none;
	color: $hyperlink-focus-colour;
	text-shadow: none;
}
