@charset "utf-8";

// Modules and Variables
@import "partials/base";

.editor-styles-wrapper {
	// Partials
	@import "partials/selection";
	@import "partials/typeface";
	@import "partials/typography";
	@import "partials/blocks";

	font-family: "Quatro Slab", !important;

	.wp-block,
	p.wp-block {
		font-family: "Quatro Slab";
	}

	p, h1, h2, h3, h4, h5, h6, ul, li {
		@include base-text();
	}

	.block-editor-block-list__block {
		margin-left: 0;
	}

	.wp-block {
		max-width: 640px;
	}

}

/* Style overall content */
